@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<style>
    BODY {
        background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #047cc4 70%);
        font-family: "Tahoma", verdana, arial;
        font-size: 12px;
        margin: auto;
        margin-top: 30px;
    }

    #capa_titulo_login {
        background: url(../extranet_archivos/titulo_login.png);
        font-family: "Tahoma", verdana, arial;
        height: 100px;
        margin: auto;
        width: 540px;
    }

    #capa_cuerpo_login {
        background-color: #fff;
        border-radius: 10px;
        color: #000;
        margin: auto;
        padding: 10px 20px 20px 20px;
        width: 500px;
    }

    input {
        background-color: #0079DC;
        border-radius: 5px;
        color: #FFF;
        height: 20px;
        width: 250px;
    }

    .boton {
        height: 40px;
        width: 141px;
    }

    .textoblanco {
        font: 9pt tahoma, verdana, Arial, sans-serif;
        color: #FFFFFF;
        text-align: justify;
    }

    .tituloBlanco {
        font: 20pt tahoma, verdana, Arial, sans-serif;
        color: #FFFFFF;
        text-align: justify;
    }

    .subtituloBlanco {
        font: 14pt tahoma, verdana, Arial, sans-serif;
        color: #FFFFFF;
        text-align: justify;
    }

    .link {
        color: #333;
        text-decoration: none;
    }

    .center {
        text-align: center
    }

    .enlaces{
        text-decoration: none;
        font-size: 14px;
        color: black;
    }
</style>

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ContentAdmin | Sistema Administrador</title>
    <link href="~/Content/login/login.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image\/png" href="~/Content/images/favicon/favicon.png" />
</head>
<body>
    <br /><br /><br />
    <p></p>
    <div id="capa_cuerpo_login">
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <table border="0" width="100%" height="100">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td colspan="5">
                        <div class="center">
                            <h2>LOGIN DE ACCESO</h2>
                            <P></P>
                            Ingrese el usuario y contraseña para poder acceder al Sistema Administrador.
                            &nbsp;
                            <p></p>
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="100%"><b>NOMBRE DE USUARIO:</b></td>
                    <td rowspan="2" width="1px" height="50px" bgcolor="#dcdcdc"></td>
                    <td width="5%">&nbsp;</td>
                    <td><input asp-for="Input.Email" required class="texto10"> </td>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="100%"><b>CONTRASEÑA:</b></td>
                    <td width="5%">&nbsp;</td>
                    <td><input asp-for="Input.Password" required class="texto10"></td>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <td width="5%">&nbsp;</td>
                </tr>
            </table>
            <P>

                <div align="center"><input type="submit" name="ingresar" value="INGRESAR" class="boton"></div>
                &nbsp;
            </P>
            <div class="form-group center">
                <p>
                    <a id="forgot-password" class="enlaces" asp-page="./ForgotPassword">¿Olvido su contraseña?</a>
                </p>
                <p>
                    <a asp-page="./Register" class="enlaces" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                </p>
            </div>
        </form>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




@*<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use sus cuenta para ingresar.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
